pip >= 23.0

# development tools
flake8
black
black[jupyter]
isort
pre-commit
sphinx
pytest
pytest-sugar
pytest-cov
nbstripout
mypy
setuptools >= 67.0
jupyterlab

# project dependencies (keep in sync with pyproject.toml)
numpy >= 1.24
matplotlib >= 3.7
numba
scipy
tqdm
mlflow
networkx
tomli_w
coolname
scikit-learn
